@inherits LayoutComponentBase

<RadzenDialog />

@Body

<footer class="hidden-xs hidden-sm">
    <div class="container-fluid">
        <p class="text-right">
            <a href="https://www.brizbee.com/download.html" style="margin-right: 5px;">Download Integration Utility</a>
            <a href="https://www.brizbee.com/user-guide.pdf" style="margin-right: 5px;">User Guide</a>
            <a href="https://www.brizbee.com/support.html" style="margin-right: 10px;">Help and Support</a>
            <a href="https://www.brizbee.com/privacy.html" style="margin-right: 10px;">Privacy Policy</a>
            <a href="https://www.brizbee.com/terms.html" style="margin-right: 10px;">Terms and Conditions</a>
            <span class="text-muted">&copy; 2021 East Coast Technology Services, LLC. All rights reserved.</span>
        </p>
    </div>
</footer>