@page "/accounting/start"

@using Brizbee.Dashboard.Server.Services
@using Core.Models
@using Microsoft.EntityFrameworkCore

@inject SharedService SharedService
@inject IDbContextFactory<PrimaryContext> DbFactory

@implements IDisposable

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <NavLink class="navbar-brand" href="kiosk/status">
                <img alt="BRIZBEE Logo" src="/icon-32x32.png">
            </NavLink>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink class="nav-link" href="kiosk/status">
                        <i class="far fa-id-badge fa-padded" aria-hidden="true"></i> Kiosk
                    </NavLink>
                </li>
                @if (_currentUser!.CanViewPunches || _currentUser.CanViewTimecards || _currentUser.CanViewRates || _currentUser.CanViewLocks)
                {
                    <li>
                        <NavLink class="nav-link" href="punches">
                            <i class="far fa-clock fa-padded" aria-hidden="true"></i> Time
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewCustomers || _currentUser.CanViewProjects || _currentUser.CanViewTasks)
                {
                    <li>
                        <NavLink class="nav-link" href="customers">
                            <i class="fas fa-truck fa-padded" aria-hidden="true"></i> Projects and Customers
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewInventoryConsumptions || _currentUser.CanViewInventoryItems)
                {
                    <li>
                        <NavLink class="nav-link" href="inventory/consumption">
                            <i class="fas fa-boxes fa-padded" aria-hidden="true"></i> Inventory <span class="sr-only">(current)</span>
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewReports)
                {
                    <li>
                        <NavLink class="nav-link" href="reports">
                            <i class="fas fa-chart-line fa-padded" aria-hidden="true"></i> Reports
                        </NavLink>
                    </li>
                }
                @if (_currentUser.CanViewUsers)
                {
                    <li>
                        <NavLink class="nav-link" href="users">
                            <i class="fas fa-users fa-padded" aria-hidden="true"></i> Users
                        </NavLink>
                    </li>
                }
                <li class="active">
                    <NavLink class="nav-link" href="accounting/start">
                        <i class="fas fa-scale-unbalanced fa-padded" aria-hidden="true"></i> Books
                    </NavLink>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-phone"><a href="tel:1-888-930-3044">Punch In or Out @@ 1-888-930-3044</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@_currentUser.Name <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="user-details">
                                Account Details
                            </NavLink>
                        </li>
                        @if (_currentUser.CanViewOrganizationDetails)
                        {
                            <li role="separator" class="divider"></li>
                            <li>
                                <NavLink class="nav-link" href="organization-details">
                                    Organization Settings
                                </NavLink>
                            </li>
                        }
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" @onclick="SignOutClicked">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid fadeIn">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><NavLink href="accounting/start">Start</NavLink></li>
        <li role="presentation"><NavLink href="accounting/chart-of-accounts">Chart of Accounts</NavLink></li>
    </ul>

    <hr />

    <RadzenRow>
        <RadzenColumn Size="3">
            @foreach (var balance in _balances)
            {
                <p style="font-size: 4rem;"><strong>@balance.Balance.ToString("C")</strong></p>
                <p style="font-size: 2rem; margin-bottom: 2rem;">@balance.Account</p>
            }
        </RadzenColumn>
        <RadzenColumn>
            <RadzenRow>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Invoices</button>
                </RadzenColumn>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Receive Payments</button>
                </RadzenColumn>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Record Deposits</button>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <NavLink href="accounting/checks" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Write Checks</NavLink>
                </RadzenColumn>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Check Register</button>
                </RadzenColumn>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Credit Card Charges</button>
                </RadzenColumn>
            </RadzenRow>

            <RadzenRow>
                <RadzenColumn Size="2" Offset="1" class="rz-p-5">
                    <button type="button" class="btn btn-default" style="width: 100%; padding-top: 3rem; padding-bottom: 3rem;">Payroll</button>
                </RadzenColumn>
            </RadzenRow>
        </RadzenColumn>
    </RadzenRow>

</div>

@code {
    [CascadingParameter]
    public EventCallback SignOutClicked { get; set; }

    private User? _currentUser;

    private readonly List<(string Account, decimal Balance)> _balances = new();

    private PrimaryContext? _context;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        // Subscribe to the events
        SharedService.OnChange += StateHasChanged;

        _currentUser = SharedService.CurrentUser;

        _context = await DbFactory.CreateDbContextAsync();

        var accounts = await _context!.Accounts!
            .Where(a => a.Type == "Bank" || a.Type == "Accounts Receivable")
            .ToListAsync();

        foreach (var account in accounts)
        {
            _balances.Add((account.Name, 0M));
        }
    }

    public void Dispose()
    {
        // Unsubscribe to the events
        SharedService.OnChange -= StateHasChanged;

        _context?.Dispose();
    }
}
