html, body {
    height: 100%;
}

body {
    padding-top: 80px;
    overflow-y: scroll;
}

#app {
    min-height: 100%;
}

ol.breadcrumb {
    margin-bottom: 30px;
}

.navbar {
    margin-bottom: 5em;
}

.navbar-nav i.fa {
    margin-right: 3px;
}

table.table-exceptions tr td label {
    margin: 0;
    font-weight: normal;
    font-style: italic;
    font-size: 0.75em;
    padding: 0;
}

table.table-supercondensed {
    font-size: 95%;
}

    table.table-supercondensed tr td {
        padding: 3px;
    }

table.table-noborder {
    border: none;
}

    table.table-noborder tr {
        border: none;
    }

        table.table-noborder tr td {
            border: none;
        }

table {
    background-color: #ffffff;
}

    table.table-jobs tr td {
        border-left: none;
        border-right: none;
    }

    table tr.selectable:hover {
        background-color: #e7e7e7;
        cursor: pointer;
    }

        table tr.selectable:hover a {
            text-decoration: underline;
        }

    table tr.selected {
        background-color: #e7e7e7;
        cursor: pointer;
    }

        table tr.selected a {
            text-decoration: underline;
        }

.panel-condensed {
    padding: 3px;
    background-color: #f5f5f5;
}

.table-report {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

    .table-report tbody tr td {
        padding: 3px;
        border: none;
        vertical-align: middle;
    }

        .table-report tbody tr td a {
            text-decoration: none;
        }

        .table-report tbody tr td i {
            font-size: 40px;
            color: #ffc600;
        }

        .table-report tbody tr td h4 {
            margin: 3px;
            padding: 0;
            font-weight: bold;
            color: #000;
        }

        .table-report tbody tr td p {
            margin: 3px;
            padding: 0;
            color: #000;
        }

input:focus {
    outline: none;
    border: 2px #ffc600 solid !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.row-toolbar {
    margin-bottom: 10px;
}

.btn {
    text-transform: uppercase;
    padding: 6px 16px;
}

.modal-body hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-phone {
    font-weight: bold;
    color: #444;
}

    .navbar-phone a {
        font-weight: bold;
        color: #444;
    }

.panel-default h2 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.form-control {
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    padding: 6px;
}

ol.getting-started {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
}

    ol.getting-started li {
        margin-bottom: 12px;
    }

.panel-status {
    border-top: none;
    padding-top: 1em;
}

    .panel-status h3 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .panel-status p {
        margin-bottom: 15px;
    }

.panel-kiosk p {
    font-size: 16px;
    line-height: 22px;
}

    .panel-kiosk p small {
        font-size: 12px;
    }

.panel-login {
    margin-bottom: 10px;
}

.header-status {
    padding-bottom: 1em;
    text-transform: uppercase;
}

select.input-sm {
    padding: 0;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    background-color: white;
    height: 34px;
    padding: 7px 12px;
    font-size: 14px;
    border: 2px solid #ccc;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    outline: none;
    border: 2px #ffc600 solid !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}


footer {
    border-top: solid 1px #ddd;
    padding: 26px 0 20px 0;
    background-color: #f5f5f5;
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
}

a:link {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a.btn:link, .navbar a:link {
    text-decoration: none;
}

a.btn:hover {
    text-decoration: underline;
}

.btn-xl {
    padding: 12px 32px;
    font-size: 1.25em;
}

#main {
    overflow: auto;
    padding-bottom: 175px; /* this needs to be bigger than footer height*/
}

#wrap {
    min-height: 100%;
}


li.text-highlight a:link,
li.text-highlight a:active,
li.text-highlight a:visited,
li.text-highlight a:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #444;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

li.text-highlight:hover a:link,
li.text-highlight:hover a:active,
li.text-highlight:hover a:visited,
li.text-highlight:hover a:hover {
    font-weight: bold;
    color: #ffffff;
    background-color: #373737;
}



.fadeIn {
    animation: fadeIn 0.25s;
}

.fadeOut {
    animation: fadeOut 0.25s;
}

.slideInDown {
    animation: slideInDown 0.25s;
}

.slideInRight {
    animation: slideInRight 0.25s;
}

.slideOutRight {
    animation: slideOutRight 0.25s;
}


li.uib-tab a.nav-link {
    text-decoration: none;
}

    li.uib-tab a.nav-link i {
        padding-right: 5px;
    }

table.uib-timepicker tr td {
    padding: 0 3px 0 0;
}

    table.uib-timepicker tr td input {
        /* copied from input-sm */
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0;
    }

    table.uib-timepicker tr td button {
        /* copied from btn-sm */
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 0;
        margin-left: 4px;
    }

table.table-exceptions tr td p.input-group-sm {
    margin: 0;
}

.alert-sm {
    font-size: 12px;
    padding: 7px;
    margin-bottom: 10px;
}

.tabset-rates .tab-content .tab-pane {
    -webkit-animation: fadeIn 0.25s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn 0.25s; /* Firefox < 16 */
    -ms-animation: fadeIn 0.25s; /* Internet Explorer */
    -o-animation: fadeIn 0.25s; /* Opera < 12.1 */
    animation: fadeIn 0.25s;
}



/* RADZEN MODIFICATIONS */

.rz-tooltip-content {
    background-color: #444;
    color: #fff;
    border-radius: 0;
    padding: 1em;
}

.rz-button.btn-primary {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    text-transform: uppercase;
    padding: 6px 16px;
    color: #fff;
    background-color: #444;
    border-color: #373737;
    border-radius: 0;
}

    .rz-button.btn-primary:active:hover {
        color: #fff;
        background-color: #191919;
        border-color: #000;
    }

.rz-button.btn-secondary {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    height: auto;

    text-transform: uppercase;
    padding: 6px 16px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 0;
}

    .rz-button.btn-secondary:active:hover {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
    }

.rz-dialog-wrapper {
    z-index: 1000;
}

-overlay rz-dialog-mask {
    overflow-y: scroll;
}

.rz-dialog {
    border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    animation: fadeInDown;
    animation-duration: 0.5s;
}

.rz-dialog-content {
    padding: 25px;
}

.rz-dialog-titlebar {
    font-size: 24px;
    padding: 20px;
}

span.rz-calendar input.rz-inputtext {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    font-size: 14px;
}

    span.rz-calendar input.rz-inputtext:hover {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }

    span.rz-calendar input.rz-inputtext:focus {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }

    span.rz-calendar input.rz-inputtext:active {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }

span.rz-calendar {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.rz-datepicker {
    font-size: 14px;
}


/* BLAZOR MODIFICATIONS */
ul.validation-errors {
    list-style-type: none;
    padding: 0.5em;
    background-color: #f2dede;
    border: solid 1px #ebccd1;
    color: #a94442;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* SPINNER */
.spinner-background {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    -webkit-backdrop-filter: blur(1.2px);
    backdrop-filter: blur(1.2px);
    z-index: 10000;
}

.spinner {
    border: 8px solid silver;
    border-top: 8px solid #444;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 400ms linear infinite;
    top: 300px;
    left: 48%;
    position: absolute;
}

.mini-spinner {
    border: 4px solid silver;
    border-top: 4px solid #444;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 400ms linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}