@page "/dialogs/download-projects"

@using Brizbee.Dashboard.Server.Services

@inject ApiService apiService
@inject DialogService dialogService
@inject SharedService sharedService
@inject LocalStorageService localStorageService

<p>
    Click below to download the open projects:
</p>
<p>
    <a href="@downloadUrl" class="btn btn-primary">
        CSV File (Comma Separated Values)
    </a>
    <br />
    <small>
        This file can be opened in Microsoft Excel, LibreOffice, Google Docs, Office 365, etc.
    </small>
</p>

<hr />

<button class="btn btn-secondary pull-right" type="button" @onclick="CloseDialog" style="margin-left: 2px;">Cancel</button>

@code {
    [Parameter] public string FilterStatus { get; set; }

    private string downloadUrl = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var accessToken = await localStorageService.GetFromLocalStorage("Token");

            downloadUrl = $"{apiService.GetBaseUrl()}api/JobsExpanded/Export?filterStatus={FilterStatus}&access_token={accessToken}";
        }
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}
