<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="BRIZBEE Integration Utility" Language="1033" Version="1.2.0.0" Manufacturer="BRIZBEE" UpgradeCode="247144C2-ED15-4C58-9675-1DDF3716CE0F">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="ICON.ICO" SourceFile="$(var.Brizbee.Integration.Utility.TargetDir)Images/favicon.ico" />

    <!-- Standard variable for the Add/Remove Programs icon -->
    <Property Id="ARPPRODUCTICON" Value="ICON.ICO" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Start Menu shortcut -->
    <DirectoryRef Id="APPLICATIONPROGRAMSFOLDER">
      <Component Id="ApplicationShortcut" Guid="33D13F90-521F-44F6-9B5F-84E388EF6900">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="BRIZBEE Integration Utility"
              Target="[INSTALLFOLDER]Brizbee.Integration.Utility.exe" WorkingDirectory="INSTALLFOLDER"
              Icon="ICON.ICO" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="APPLICATIONPROGRAMSFOLDER" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="BRIZBEE Integration Utility" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <CustomAction Id="LaunchExecutable" FileKey="IntegrationUtilityExeFile" ExeCommand="" Return="asyncNoWait" />
    <InstallExecuteSequence>
      <Custom Action="LaunchExecutable" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Create a folder in the Program Files folder. -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="BRIZBEE Integration Utility" />
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="APPLICATIONPROGRAMSFOLDER" Name="BRIZBEE Integration Utility"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <!-- CONFIG -->
      <Component Id="IntegrationUtilityConfig" Guid="F126C495-476B-4F03-944B-A35685E87DD7" Permanent="yes">
        <File Id="IntegrationUtilityConfigFile" Source="$(var.Brizbee.Integration.Utility.TargetDir)\Brizbee.Integration.Utility.exe.config" KeyPath="yes" />
      </Component>

      <!-- EXE -->
      <Component Id="IntegrationUtilityExe" Guid="D061B4DE-3637-4167-9741-7C2C8566A4FD">
        <File Id="IntegrationUtilityExeFile" Source="$(var.Brizbee.Integration.Utility.TargetPath)" KeyPath="yes" />
      </Component>

      <!-- Start Menu shortcut is a part of this component. -->
      <ComponentRef Id="ApplicationShortcut" />

      <!-- Event Source Creation -->
      <Component Id="EventSource" Guid="EB4EE4EA-50A3-4E98-A8CA-EBC49A828AB5">
        <CreateFolder/>
        <!-- Create an Event Source -->
        <Util:EventSource
              xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
              Name="BRIZBEE Integration Utility"
              Log="Application"
              EventMessageFile="[IntegrationUtilityExeFile]"/>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
