@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col" />
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Hello, Joshua Shane Martin
                </div>
                <div class="card-body">
                    <p class="card-text">You are punched out.</p>
                    <button type="button" class="btn btn-success btn-lg btn-block">Punch In</button>
                    <button type="button" class="btn btn-danger btn-lg btn-block">Time Entry</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Logout</button>
                </div>
            </div>
        </div>
        <div class="col" />
    </div>
</div>

@code {

}
