@page "/dialogs/split"

@using Brizbee.Dashboard.Server.Services

@inject DialogService dialogService
@inject SharedService sharedService
@inject PunchService punchService

<p>Punches between <strong>@sharedService.RangeMin.ToShortDateString()</strong> and <strong>@sharedService.RangeMax.ToShortDateString()</strong> will be split at midnight.</p>

<hr />

<i class="@(working ? "fa fa-spinner fa-spin fa-fw" : "hidden")"></i>
<button class="btn btn-default pull-right" type="button" @onclick="CloseDialog" style="margin-left: 2px;">Cancel</button>
<button class="btn btn-primary pull-right" type="button" @onclick="Split" disabled="@working" style="margin-left: 2px;">Perform Split</button>

@code {
    private bool working = false;

    private async Task Split(MouseEventArgs e)
    {
        // Confirm that the user wants to make the change.
        var confirm = await dialogService.Confirm(
            $"Are you sure you want to split the punches between {sharedService.RangeMin.ToShortDateString()} and {sharedService.RangeMax.ToShortDateString()} at midnight?",
            "Confirm",
            new ConfirmOptions() { Width = "600px", CancelButtonText = "Cancel", OkButtonText = "OK" });
        if (confirm != true)
            return;

        working = true;

        StateHasChanged();

        var result = await punchService.SplitPunches(sharedService.RangeMin, sharedService.RangeMax);

        working = false;

        StateHasChanged();

        if (result)
            dialogService.Close("punch.split");
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}