@page "/dialogs/download-open-projects"

@using Brizbee.Dashboard.Services

@inject ApiService apiService
@inject DialogService dialogService
@inject SharedService sharedService
@inject LocalStorageService localStorageService

<p>
    Click below to download the open projects:
</p>
<p>
    <a href="@downloadUrl" class="btn btn-primary">
        CSV File (Comma Separated Values)
    </a>
    <br />
    <small>
        This file can be opened in Microsoft Excel, LibreOffice, Google Docs, Office 365, etc.
    </small>
</p>

<hr />

<button class="btn btn-default pull-right" type="button" @onclick="CloseDialog" style="margin-left: 2px;">Cancel</button>

@code {
    private string downloadUrl = "";

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var accessToken = await localStorageService.GetFromLocalStorage("Token");

        downloadUrl = $"{apiService.GetBaseUrl()}api/JobsExpanded/Export?access_token={accessToken}";
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}
