@page "/dialogs/lock"

@using Brizbee.Dashboard.Services

@inject DialogService dialogService
@inject SharedService sharedService
@inject PunchService punchService

<p>Locks are used to prevent your punches from being edited or deleted, whether accidentally or maliciously. Locks can be reversed later on if necessary.</p>

<p>Your punches between <strong>@sharedService.RangeMin.ToShortDateString()</strong> and <strong>@sharedService.RangeMax.ToShortDateString()</strong> will be locked.</p>

<hr />

<button class="btn btn-primary" type="button" @onclick="Lock">Perform Lock</button>
<button class="btn btn-default" type="button" @onclick="CloseDialog">Cancel</button>

@code {
    private async Task Lock(MouseEventArgs e)
    {
        // Confirm that the user wants to make the change.
        var confirm = await dialogService.Confirm(
            $"Are you sure you want to lock the punches between {sharedService.RangeMin.ToShortDateString()} and {sharedService.RangeMax.ToShortDateString()}?",
            "Confirm",
            new ConfirmOptions() { Width = "600px", CancelButtonText = "Cancel", OkButtonText = "OK" });
        if (confirm != true)
            return;

        var result = await punchService.LockPunches(sharedService.RangeMin, sharedService.RangeMax);

        if (result)
            dialogService.Close(false);
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}