@page "/dialogs/search/projects"

@using Brizbee.Dashboard.Services
@using Brizbee.Common.Models

@inject DialogService dialogService
@inject JobService jobService

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1">Customer #</th>
            <th class="col-md-4">Customer</th>
            <th class="col-md-1">Project #</th>
            <th class="col-md-5">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in projects)
        {
            bool isChecked = false;
            if (selectedProjects.Where(x => x.Id == project.Id).Any())
            {
                isChecked = true;
            }

            <tr class="fadeIn">
                <td><input type="checkbox" checked=@isChecked @onchange="args => { CheckboxClicked(project, args.Value); }" /></td>
                <td>@project.Customer.Number</td>
                <td>@project.Customer.Name</td>
                <td>@project.Number</td>
                <td>@project.Name</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-default pull-right" type="button" @onclick="CloseDialogCancelled" style="margin-left: 2px;">Cancel</button>
<button class="btn btn-primary pull-right" type="button" @onclick="CloseDialogSuccess" style="margin-left: 2px;">Add</button>

@code {
    [Parameter] public HashSet<Job> ExistingFilters { get; set; }

    private List<Job> projects = new List<Job>(0);
    private HashSet<Job> selectedProjects = new HashSet<Job>(0);

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        selectedProjects = ExistingFilters;

        var result = await jobService.GetExpandedJobsAsync();
        projects = result.Item1;
    }

    private void CloseDialogCancelled(MouseEventArgs e)
    {
        dialogService.Close(false);
    }

    private void CloseDialogSuccess(MouseEventArgs e)
    {
        dialogService.Close(selectedProjects);
    }

    private void CheckboxClicked(Job selected, object isChecked)
    {
        if ((bool)isChecked)
        {
            if (!selectedProjects.Contains(selected))
            {
                selectedProjects.Add(selected);
            }
        }
        else
        {
            if (selectedProjects.Contains(selected))
            {
                selectedProjects.Remove(selected);
            }
        }
        StateHasChanged();
    }
}
