@page "/dialogs/search/customers"

@using Brizbee.Dashboard.Services
@using Brizbee.Common.Models

@inject DialogService dialogService
@inject CustomerService customerService

<table class="table table-condensed">
    <thead>
        <tr>
            <th class="col-md-2"></th>
            <th class="col-md-2">Number</th>
            <th class="col-md-8">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in customers)
        {
            bool isChecked = false;
            if (selectedCustomers.Where(x => x.Id == customer.Id).Any())
            {
                isChecked = true;
            }

            <tr class="fadeIn selectable">
                <td><input type="checkbox" checked=@isChecked @onchange="args => { CheckboxClicked(customer, args.Value); }" /></td
                <td>@customer.Number</td>
                <td>@customer.Name</td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-default pull-right" type="button" @onclick="CloseDialogCancelled" style="margin-left: 2px;">Cancel</button>
<button class="btn btn-primary pull-right" type="button" @onclick="CloseDialogSuccess" style="margin-left: 2px;">Add</button>

@code {
    [Parameter] public HashSet<Customer> ExistingFilters { get; set; }

    private List<Customer> customers = new List<Customer>(0);
    private HashSet<Customer> selectedCustomers = new HashSet<Customer>(0);

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        selectedCustomers = ExistingFilters;

        var result = await customerService.GetCustomersAsync();
        customers = result.Item1;
    }

    private void CloseDialogCancelled(MouseEventArgs e)
    {
        dialogService.Close(false);
    }

    private void CloseDialogSuccess(MouseEventArgs e)
    {
        dialogService.Close(selectedCustomers);
    }

    private void CheckboxClicked(Customer selected, object isChecked)
    {
        if ((bool)isChecked)
        {
            if (!selectedCustomers.Contains(selected))
            {
                selectedCustomers.Add(selected);
            }
        }
        else
        {
            if (selectedCustomers.Contains(selected))
            {
                selectedCustomers.Remove(selected);
            }
        }
        StateHasChanged();
    }
}
