@page "/dialogs/split"

@using Brizbee.Dashboard.Services

@inject DialogService dialogService
@inject SharedService sharedService
@inject PunchService punchService

<p>Punches between <strong>@sharedService.RangeMin.ToShortDateString()</strong> and <strong>@sharedService.RangeMax.ToShortDateString()</strong> will be split at midnight.</p>

<hr />

<button class="btn btn-primary" type="button" @onclick="Split">Perform Split</button>
<button class="btn btn-default" type="button" @onclick="CloseDialog">Cancel</button>

@code {
    private async Task Split(MouseEventArgs e)
    {
        // Confirm that the user wants to make the change.
        var confirm = await dialogService.Confirm(
            $"Are you sure you want to split the punches between {sharedService.RangeMin.ToShortDateString()} and {sharedService.RangeMax.ToShortDateString()} at midnight?",
            "Confirm",
            new ConfirmOptions() { Width = "600px", CancelButtonText = "Cancel", OkButtonText = "OK" });
        if (confirm != true)
            return;

        var result = await punchService.SplitPunches(sharedService.RangeMin, sharedService.RangeMax);

        if (result)
            dialogService.Close(false);
    }

    private void CloseDialog(MouseEventArgs e)
    {
        dialogService.Close(false);
    }
}