@page "/times"

<div class="container-fluid">
    <nav class="nav">
        <a class="nav-link" href="/punches">Punches</a>
        <a class="nav-link active" href="/times">Times</a>
        <a class="nav-link" href="/commits">Commits</a>
        <a class="nav-link" href="/exports">Export History</a>
        <a class="nav-link" href="/rates">Rates</a>
    </nav>

    <hr />
</div>

@code {

}
