// Custom.scss
// Option A: Include all of Bootstrap

$font-size-base: 0.9rem !default;
$font-family-sans-serif: "Source Sans Pro", Arial, sans-serif !default;

$primary: #444;
$secondary: #fff;

$btn-border-radius: 0 !default;
$btn-border-radius-lg: 0 !default;
$btn-border-radius-sm: 0 !default;

$btn-border-width: 0.1rem;

$card-border-radius: 0 !default;

$input-border-radius: 0 !default;

@import "bootstrap/bootstrap";

label {
    font-weight: bold;
    margin-bottom: 0;
}

.navbar {
    border-bottom: .1rem solid #e7e7e7;
}

// BUTTONS
.btn {
    border: $btn-border-width solid transparent;
    text-transform: uppercase;
}

.btn-secondary {
    border: $btn-border-width solid $gray-400;
}

// ICONS
.fa-padded {
    margin-right: 0.3rem;
}

// MODALS
.blazored-modal-container {
    margin-top: -5rem;
    /*padding-top: 5rem;*/
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
}
.blazored-modal {
    border-radius: 0;
    padding: 0;
}
.blazored-modal-header {
    border-bottom: 0.1rem solid #e5e5e5;
    padding: 1rem;
}
.blazored-modal-content {
    padding: 0;
}
.blazored-modal-close {
    display: none;
}
.blazored-modal-wrapper {
    width: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}